@import "_config.scss";

.column {
  flex: 0 0 auto;
  width: 275px;
  height: calc(100% - 10px);

  &:not(:first-child) {
    margin-left: $gap;
  }

  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }

  header {
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-weight: 600;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
  }

  footer {
    padding-left: 10px;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
  }

  ul.card-list {
    list-style: none;
    margin: 0;
    max-height: calc(
      100% - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;

    // Style scrollbar
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bfc4ce;
      border-radius: $column-border-radius;
    }
    &::-webkit-scrollbar-track {
      background-color: #dadbe2;
      border-radius: $column-border-radius;
    }
  }
}
