@import "_config.scss";

.column {
  flex: 0 0 auto;
  width: 275px;
  height: $column-height;
  margin-left: $gap;

  > * {
    background-color: $list-bg-color;
    padding: 0 8px;
  }

  header.column-header {
    display: flex;
    padding-left: $gap;
    height: $column-header-height;
    line-height: $column-header-height;
    font-weight: 600;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;

    cursor: pointer;

    .column-title {
      flex: 90%;
      margin-top: 5px;
    }

    .column-dropdown-actions {
      & > .dropdown > button {
        background-color: #ebecf0;
        border: none;
        color: $main-text-color;
        opacity: 0.6;

        transition: opacity 0.2s ease-in-out 0s;

        &:focus {
          box-shadow: none;
          opacity: 1;
        }
        &:hover {
          opacity: 1;
        }
      }

      .dropdown-menu {
        .dropdown-item {
          font-size: $fontsize-14;
          line-height: 32px;
          padding: 0.25rem 1rem;

          &:active {
            color: $main-text-color;
            background-color: $list-bg-color;
          }
        }
      }
    }
  }

  footer {
    padding-left: 10px;
    padding-bottom: 10px;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;

    color: #5e6c84;

    .footer-actions {
      display: flex;
      align-items: center;
      padding-left: $gap;
      height: calc(#{$column-footer-height} - #{$gap});
      border-radius: $card-border-radius;

      cursor: pointer;
      transition: background-color 0.15s ease-in-out 0s;

      &:hover {
        color: $main-text-color;
        background-color: rgba($color: #091e42, $alpha: 0.08);
      }
    }
  }

  .card-list {
    margin: 0;
    max-height: calc(
      #{$column-height} - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;

    // Style scrollbar
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bfc4ce;
      border-radius: $column-border-radius;
    }
    &::-webkit-scrollbar-track {
      background-color: #dadbe2;
      border-radius: $column-border-radius;
    }
  }

  // Drag and drop placeholder for task
  .card-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
  }
  // Style for card drag and drop
  .card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
  }

  .card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg);
  }
}
