@import "_config.scss";

.board-content {
  display: flex;
  margin: 0 $gap $gap;
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;

  // Style scrollbar
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d1af81;
    border-radius: $column-border-radius;
  }
  &::-webkit-scrollbar-track {
    background-color: $appbar-bg-color;
    border-radius: $column-border-radius;
  }

  // Drag and drop placeholder for column
  .column-drop-preview {
    background-color: rgba(63, 63, 83, 0.15);
    border: 1px dashed #abc;
    margin: 5px 15px 5px 5px;
    height: $column-height;
  }
  // Style for column drag and drop
  .column-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
  }

  .column-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg);
  }

  .bootstrap-container {
    padding: 0;

    .row {
      margin: 0;

      .add-new-column {
        flex: 0 0 auto;
        width: 275px;
        height: $column-header-height;
        margin-left: $gap;
        padding-left: 15px;
        line-height: $column-header-height;
        border-radius: $column-border-radius;

        cursor: pointer;
        transition: background-color 0.15s ease-in-out 0s;

        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.24);

        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.32);
        }

        & > div > span {
          margin-right: 3px;
        }
      }

      .enter-new-column {
        margin-left: $gap;
        width: 275px;
        max-width: 275px;
        padding: 5px $gap;
        background-color: $list-bg-color;
        line-height: $column-header-height;
        border-radius: $column-border-radius;

        .input-enter-new-column {
          font-size: $fontsize-14;
          box-shadow: inset 0 0 0 1.5px #0079bf;
        }

        .button-enter-new-column {
          font-size: $fontsize-14;
          margin-right: $gap;
        }

        .remove-icon {
          cursor: pointer;

          & > i {
            font-size: 1rem;
            opacity: 0.9;
            transition: opacity 0.2s ease-in-out 0s;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
