@import "_config.scss";

.board-content {
  display: flex;
  margin: 0 $gap $gap;
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;

  // Style scrollbar
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d1af81;
    border-radius: $column-border-radius;
  }
  &::-webkit-scrollbar-track {
    background-color: $appbar-bg-color;
    border-radius: $column-border-radius;
  }

  // Drag and drop placeholder for column
  .column-drop-preview {
    background-color: rgba(63, 63, 83, 0.15);
    border: 1px dashed #abc;
    margin: 5px 15px 5px 5px;
    height: $column-height;
  }
  // Style for column drag and drop
  .column-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
  }

  .column-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg);
  }
}
