// Color
$bg-color: #d29034;
$appbar-bg-color: #00000026;
$list-bg-color: #ebecf0;
$card-bg-color: #fff;
$main-text-color: #172b4d;

// Font size
$fontsize-14: 14px;

// Gap - height
$gap: 10px;

$appbar-height: 7vh;
$boardbar-height: 7vh;
$board-content-height: 84vh;

$column-height: calc(#{$board-content-height} - 2 * #{$gap});
$column-header-height: 46px;
$column-footer-height: 46px;

$column-border-radius: 5px;
$card-border-radius: 4px;

// Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "(max-width: 1201px)";
