@import "_config.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $fontsize-14 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  line-height: 1.3em;
}

.trello-master {
  height: 100vh;
  overflow: hidden;
  background-color: $bg-color;
  color: $main-text-color;

  .icon {
    font-size: $fontsize-14;
    margin-right: 4px;
  }

  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 1.5px #0079bf;
  }
  .btn:focus,
  .btn:active {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .content-editable-input {
    border: none;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;

    &:focus {
      box-shadow: inset 0 0 0 1.5px #0079bf;
      background-color: $input-bg-color;
    }
  }

  // ADD NEW ELEMENT IN FOOTER
  .input-enter-new {
    font-size: $fontsize-14;
  }

  .button-enter-new {
    font-size: $fontsize-14;
    margin-right: $gap;
  }

  span.remove-icon {
    cursor: pointer;

    & > i {
      font-size: 1rem;
      opacity: 0.9;
      transition: opacity 0.2s ease-in-out 0s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
