@import "_config.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  line-height: 1.3em;
}

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 60px 1fr;
  background-color: $bg-color;
}
