@import url("https://fonts.googleapis.com/css?family=Helvetica:wght@400, 600");

$bg-color: #d29034;
$appbar-bg-color: #00000026;
$list-bg-color: #ebecf0;
$card-bg-color: #fff;

$gap: 10px;
$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;
$card-border-radius: 4px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  line-height: 1.3em;
}

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 60px 1fr;
  background-color: $bg-color;

  .navbar {
    padding-left: $gap;
    display: flex;
    align-items: center;

    &.app {
      background-color: $appbar-bg-color;
      font-size: 1.5rem;
    }

    &.board {
      background-color: transparent;
      font-size: 1.1rem;
    }
  }

  .board-columns {
    display: flex;
    margin: 0 $gap $gap;
    overflow-x: auto;

    // Style scrollbar
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #d1af81;
      border-radius: $column-border-radius;
    }
    &::-webkit-scrollbar-track {
      background-color: $appbar-bg-color;
      border-radius: $column-border-radius;
    }

    .column {
      flex: 0 0 auto;
      width: 325px;
      height: calc(100% - 10px);

      &:not(:first-child) {
        margin-left: $gap;
      }

      > * {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
      }

      header {
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: 600;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
      }

      footer {
        padding-left: 10px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
      }

      ul {
        list-style: none;
        margin: 0;
        max-height: calc(
          100% - #{$column-header-height} - #{$column-footer-height}
        );
        overflow-y: auto;

        // Style scrollbar
        &::-webkit-scrollbar {
          -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #bfc4ce;
          border-radius: $column-border-radius;
        }
        &::-webkit-scrollbar-track {
          background-color: #dadbe2;
          border-radius: $column-border-radius;
        }

        li {
          background-color: $card-bg-color;
          padding: $gap;
          border-radius: $card-border-radius;
          box-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.1);

          &:not(:last-child) {
            margin-bottom: $gap;
          }

          img {
            display: block;
            max-width: calc(100% + 2 * #{$gap});
            margin: (-$gap) 0 $gap (-$gap);
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
          }
        }
      }
    }
  }
}
